{% extends 'layouts/base.html' %}

{% block head %}
<title>Confusion Matrix</title>
{% endblock %}

{% block body %}
<main class="content">
  <div class="row">
    <div class="col-lg-6">
      <div class="card overflow-hidden rounded-2">
        <div class="position-relative p-2">
          <img src="{{ url_for('static', filename='images/confusion_matrix.png') }}" class="card-img-top rounded-0" alt="Confusion Matrix">
        </div>
        <div class="card-body pt-3">
          <ul class="text-center">
            <li><h6 class="fw-semibold fs-4">K-nearest neighbors (KNN)</h6></li>
            <li><h6 class="fw-semibold fs-4">Particle Swarm Optimization (PSO)</h6></li>
            <li><h6 class="fw-semibold fs-4">Random Oversampling</h6></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card overflow-hidden rounded-2">
        <div class="p-3">
          <img src="{{ url_for('static', filename='images/akurasi.png') }}" class="card-img-top rounded-0" alt="Akurasi">
        </div>
        <div class="card-body pt-3">
          <h6 class="fw-semibold fs-4 text-center">Akurasi</h6>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}